@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.customer_lookup_main_container {
    background-image: url('../../assets/paddleboard-sunset-silhouette.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cust_lookup_title {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 40px;
    text-align: center;
}

.customer_lookup_card {
    width: 95%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.80);    
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    box-shadow: 0px 1px 15px #000000;
}

.cust_lookup_input_container{
    width: 90%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
}

.cust_info_box {
    width: 23%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
    /* margin: 5px 5px 5px 5px; */
    font-size: 15px;
    box-shadow: 0px 0px 5px #000000;
    
}

.cust_lookup_button_container {
    width: 95%;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: gray;
}

.cust_lookup_button {
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    background: lightskyblue;
    width: 150px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0px 0px 5px #000000;  
    cursor: pointer;  
}

/* RETURNED CUSTOMER INFO */
.returned_customer_space {
    /* background: lemonchiffon; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}
.customer_display_card {
    background-image: url('../../assets/FUTSRArtboard 1.png');
    background-size: contain;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    height: 80%;
    background-color: lightgray;
    box-shadow: 0px 0px 5px #000000;      
    border-radius: 25px;
    padding: 15px;
    margin: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
}
.cust_disp_key {
    font-weight: bold;
}
.cust_disp_val {
    margin-bottom: 5px;
}
.cust_info_button {
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    background: lightgreen;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0px 0px 5px #000000;  
    cursor: pointer;  
}

/* MEDIA QUERIES */

@media(min-width:1800px) {
    .cust_disp_key {
        font-size: 23px;
    }
    .cust_disp_val {
        margin-bottom: 15px;
        font-size: 23px;
    }
    .cust_info_button {
        margin: 10px;
        border-style: none;
        border-radius: 5px;
        background: lightgreen;
        width: 100px;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        box-shadow: 0px 0px 5px #000000;  
        cursor: pointer;  
    }
}