@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.admin_nav_container {
    background: rgb(255, 255, 255);
    width: 55%;
    height: 100%;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    overflow: scroll;
    box-shadow: 0px 1px 15px #000000;        
}

.admin_menu_header {
    background: #F6B261;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    display: flex;
    justify-content: flex-start;
}

.close_button {
    background: #F6B261;
    width: 10%;
    font-size: 25px;
    border-style: none;
    padding-left: 20px;
    cursor: pointer;
    font-family: 'Permanent Marker', sans-serif;
}

.admin_nav_link {
    height: 50px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    font-size: 20px;
    font-weight: bold;   
    padding-left: 15px; 
    display: flex;
    align-items: center;
    font-family: 'Permanent Marker', sans-serif;
}

.show {
    transform: translateX(0%);
    transition: .35s ease-in-out;
    visibility: visible;
}

.hide {
    transform: translateX(-100%);
    transition: .35s ease-in-out;
    visibility: hidden;
}

/* SUB MENUS */

.home_sub {
    height: 35px;
    width: 100%;
    background: #E5EFF3;
    color: black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }

  .show_sub {
    transform: translateY(0%);
    transition: .35s ease-in-out;
    visibility: visible;
  }

  .hide_sub {
    transform: translateY(-100%);
    transition: .35s ease-in-out;
    display: none;
  }

  /* MEDIA QUERIES */
@media(min-width:700px) {
    .admin_nav_container {
        width: 30%;
    }
}

@media(min-width:1000px) {
    .admin_nav_container {
        width: 30%;
    }
    .admin_nav_link {
        font-size: 30px;
    }
    .home_sub {
        height: 45px;
        width: 100%;
        background: #E5EFF3;
        color: black;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }
    .close_button {
        font-size: 30px;
    }
}

@media(min-width:1300px) {

}

@media(min-width:1700px) {

}

@media(min-width:2400px) {

}