@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

/* BODY */
.body {
    /* background: gray; */
    width: 100%;
    height: 100vh;
    padding-top: 65px;
    background-image: url('../../assets/paddleboard-sunset-silhouette.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.dash_transparency {
    /* background-color: rgba(255, 255, 255, 0.40); */
    background-size: cover;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quick_guide_container {
    /* background-color: red; */
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.quick_guide_component {
    background-color: rgba(255, 255, 255, 0.70);
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 15px #000000;    
    
}

.quick_guide_title {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 25px;
    text-align: center;
}

.rental_quick_view_container {
    background-color: rgba(255, 255, 255, 0.70);
    width: 80%;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px #000000;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.rental_quick_view_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.rental_quick_view_title {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 35px;
    text-align: center;
}

/* .rental_quick_view_carousel{
    background-color: rgba(255, 255, 255, 0.70);
    width: 60%;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
} */

.open_rental_card {
    background: lightskyblue;
    width: 30%;
    height: 80%;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 1px 5px #000000;    
}

.rental_card_key{
    font-weight: bold;
    margin-top: 5px;
}

.quick_close_button {
    width: 100px;
    height: 25px;
    border-style: none;
    border-radius: 5px;
    background: lightcoral;
    box-shadow: 0px 1px 5px #000000;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;  
}

.show_widget {
    visibility: visible
}

.hide_widget {
    display: none
}

/* .quick_close_button {
    width: 30%;
    height: 30%;
} */

/* CALENDAR SECTION */
.calendar_container {
    background: lightslategray;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    background-color: rgba(255, 255, 255, 0.70);
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px #000000;  
    /* margin-right: 40px; */
}



/* MEDIA QUERIES */
@media(min-width:700px) {
    .body {
        /* background: gray; */
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        background-image: url('../../assets/paddleboard-sunset-silhouette.jpg');
        background-size: cover;
        background-position: center;
    }
    .dash_transparency {
        /* background-color: rgba(255, 255, 255, 0.40); */
        background-size: cover;
        height:100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .quick_guide_container {
        /* background-color: red; */
        width: 20%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .quick_guide_component {
        background-color: rgba(255, 255, 255, 0.70);
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    .rental_quick_view_container {
        background-color: rgba(255, 255, 255, 0.70);
        width: 60%;
        height: 70%;
        padding: 20px;
        border-radius: 10px;
        display: flex;
    }
    .quick_guide_card_container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: scroll;
    }
}

@media(min-width:1000px) {
    
}

@media(min-width:1300px) {

}

@media(min-width:1700px) {

}

@media(min-width:2400px) {

}